{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <div id="navbar">
        <img src="{% static 'logo.jpg' %}" alt="icon" id="icon">
        <form action="CurrentWeather">
            <input type="submit"  value="Current Weather" id="cw">
        </form>
        <form action="WeatherForecast">
            <input type="submit"  value="Weather Forecast" id="wf">
        </form>
    </div>
    <div id="main">
        <div id="heading">Welcome to The Weather App</div>
    </div>
</body>
</html>